<!doctype html>
<html class="h-100" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <title>Azure - Blobs</title>
        <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.css" integrity="sha256-5U3z9K3P17cKgGYxXQA5rBZO5EDju+lgtXG6oDXNbNY=" rel="stylesheet"/>
    </head>
    <body
        class="d-flex flex-column h-100">
        <!-- Begin page content -->
        <main class="flex-shrink-0" role="main">
            <div class="container">
                <h1 class="mt-5">Blobs ({{data.entries.length}}) du <a href="/azure/containers#{{containerName}}">container</a> <code>{{containerName}}</code></h1>
                {% for blob in data.entries %}
                    <hr/>
                    <p>
                        Blob : <code>{{blob.name}}</code> <br/>
                        Last-Modified <code>{{blob.lastModified}}</code> <br/>
                        <a href="/azure/blob/{{containerName}}/{{blob.name}}" target="_blank">Télécharger</a>
                    </p>
                    <hr/>
                {% endfor %}
                <h1>Create one</h1>
                <form method="post" accept-charset="UTF-8" action="/azure/blob/create">
                    <input id="containerName" type="hidden" name="containerName" value="{{containerName}}">
                    <h3><label for="blobName">Blob name</label></h3>
                    <input id="blobName" type="text" name="blobName">
                    <h3><label for="blobContent">Blob content</label></h3>
                    <textarea id="blobContent" cols="4" rows="4" name="blobContent"></textarea>
                    <input type="submit" value="create">
                </form>
            </div>
        </main>
    </body>
</html>
