{% extends 'basic.twig' %}
{% block title %}Administration - Serveurs | {{ parent() }}{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12 mt-4">
        <table class="table table-hover table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Cron</th>
                    <th><i class="mdi mdi-test-tube"></i> = on</th>
                </tr>
                </thead>
                <tbody>
                    {% for server in servers %}
                        <tr>
                            <td scope="row">{{server.id}}</td>
                            <td>{{server.name}}</td>
                            <td>{{server.url}}</td>
                            <td>{{server.monitoringInterval}}</td>
                            <td>
                                <form method="POST" action="/admin/servers/{% if server.disabled %}enable{% else %}disable{% endif %}">
                                    <input type="hidden" name="id" value="{{server.id}}"/>
                                    <button class="btn btn-outline-primary mdi mdi-test-tube{% if server.disabled %}-off{% endif %}" type="submit"></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        <hr/>
        <a href="/admin/addserver">Ajouter un serveur</a>
    </div>
</div>
{% endblock %}
